@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores globales */
.colors {
  /* CSS HEX */
  --imperial-red: #fe3146ff;
  --black: #000000ff;
  --prussian-blue: #11283eff;
  --black-2: #000000ff;
  --paynes-gray: #5b6e7eff;

  /* CSS HSL */
  --imperial-red: hsla(354, 99%, 59%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --prussian-blue: hsla(209, 57%, 15%, 1);
  --black-2: hsla(0, 0%, 0%, 1);
  --paynes-gray: hsla(207, 16%, 43%, 1);
}


:root {
  color-scheme: dark light;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  input:not([type='checkbox']):not([type='radio']),
  textarea {
    @apply rounded !important;
  }
}

@layer components {
  #__next {
    @apply h-full;
  }

  .btn {
    @apply rounded normal-case;
  }

  .modal-box {
    @apply rounded;
  }

  .btn-primary:focus-visible {
    @apply outline-primary;
  }

  .btn-error:focus-visible {
    @apply outline-error;
  }
}

.btn-md {
  @apply min-h-8 h-10;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555555 #f0f0f0;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

h1 {
  font-size: 2.5em !important; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em !important; /* 30px/16=1.875em */
}

h3 {
  font-size: 1.5em !important; /* 24px/16=1.5em */
}

p {
  font-size: 0.875em !important; /* 14px/16=0.875em */
}

.blog-content {

  margin-bottom: 32px;

  h1 {
    font-size: 2.5rem; /* Tamaño de fuente grande para el encabezado principal */
    margin-bottom: 0.5rem;
    color: #222; /* Color de texto más oscuro para destacar */
  }
  
  h2 {
    font-size: 2rem; /* Tamaño de fuente mediano para subtítulos */
    margin-bottom: 0.75rem;
    color: #333; /* Color de texto estándar */
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75rem; /* Tamaño de fuente más pequeño para sub-subtítulos */
    margin-bottom: 0.5rem;
    color: #444; /* Color de texto más claro */
    font-weight: 700;
  }
  
  /* Estilo para párrafos */
  p {
    font-size: 1.3rem !important; /* Tamaño de fuente estándar para párrafos */
    margin-bottom: 1rem; /* Espacio inferior entre párrafos */
  }
  
  /* Estilo para enlaces */
  a {
    font-size: 1.3rem !important; /* Tamaño de fuente igual al párrafo */
    color: #007bff; /* Color azul para enlaces */
    text-decoration: none; /* Sin subrayado */
  }
  
  a:hover {
    text-decoration: underline; /* Subrayado en hover */
    color: #0056b3; /* Color más oscuro al pasar el ratón sobre el enlace */
  }
  
  /* Estilo para listas */
  ul, ol {
    padding-left: 1.5rem; /* Espacio a la izquierda de listas */
    margin-bottom: 1rem;
  }
  
  li {
    font-size: 1rem; /* Tamaño de fuente estándar para elementos de lista */
  }
  
  /* Estilo para citas en bloque */
  blockquote {
    font-size: 1.125rem; /* Tamaño de fuente mayor para citas */
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 4px solid #007bff; /* Borde izquierdo para destacar */
    background-color: #f9f9f9; /* Fondo gris claro */
    color: #666; /* Color de texto para citas */
  }
  

  h1 {
    margin-bottom: 32px;
  }

  h2 {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  p{
    margin-top: 24px;
    margin-bottom: 24px;
  }
}